.loading-container {
  @include loadingContainer;
}

.container {
  padding: 0 20px;
  .background-container {
    position: fixed;
    transform: translateY(-50%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    .background {
      width: 100%;
      filter: blur(30px);
      opacity: 0.5;
    }
  }
  .info-container {
    position: relative;
    display: flex;
    justify-content: center;
    .img-container {
      img {
        width: 100%;
      }
    }
    .info-list {
      padding-left: 20px;
      flex-shrink: 2;
    }
  }
}
